<h2>Search Results</h2>

<table>
  <% if @results.blank? %>
      <h3>Sorry. We could not find any results that match the key words...</h3>
  <% else %>
      <% @results.each do |result| %>
          <tr>
            <td>
              <blockquote class="twitter-tweet" data-lang="en">
                <p lang="en" dir="ltr"><%= result.text %></p> &mdash;
                <a href="<%= result.url %>"> <%= result.user.name %> (<%= result.user.screen_name %>)</a>
                <%= result.created_at %>
              </blockquote>
            </td>
          </tr>
      <% end %>
  <% end %>
</table>

<%= link_to("Search Again", search_index_path, class: "btn btn-default") %>